
@import '../../styles/colors.scss';

.card-detail-ligth {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 400px;
    margin-left:700px;
    margin-top:100px ;
    gap:10px;
    padding: 30px;
    .texts {
        display: flex;
        flex-direction: column;
        button {
            border: none;
            padding: 10px;
            border-radius: 3px;
            color: black;
            background-color: salmon;
        }
    }
    
}
.card-detail-dark2 {
    @extend .card-detail-ligth;
    background-color: $dark-violet;
    color: white;
    .texts {
        display: flex;
        flex-direction: column;
        button {
            border: none;
            padding: 10px;
            border-radius: 3px;
            background-color: $light-gray;
            color: white;
        }
}
}

.boton-agregar {
    background-color: rgba(207, 26, 108, 0.5);
    color: rgba(255, 255, 255, 0.783);
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
    background-color: #000;
    border-radius: 7px;
    box-shadow: #fff;

}
.boton-agregar:focus {
    outline: none;
}